@charset "UTF-8";


html, body {
    margin: 0px;
    padding: 0px;
    background: url("https://media.giphy.com/media/Yy26NRbpB9lDi/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

* {
    box-sizing: border-box;
  }
  
 .contenedor{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
  
  .imagen{
      border-radius: 4px;
      margin: 10px;
      opacity: 0.9;
  }